{% extends 'core/base.html' %}
{%load static%}

{%block content %}
    <!-- End header area -->


    <main class="main__content_wrapper">
        


        <!-- Start login section  -->
        <div class="login__section section--padding mb-80">
            <div class="container">

                <form action="/auth/login/" method="post">
                    {% csrf_token %}
                    <div class="login__section--inner">
                        <div class="row row-cols-md-2 row-cols-1">
                            <div class="col">
                                <div class="account__login">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title h3 mb-10">Авторизация</h2>
                                        <p class="account__login--header__desc">Чтобы получить полный доступ следует авторизоваться </p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label>
                                            <input class="account__login--input" placeholder="Никнейм" name="username" type="text">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Пароль"  name="password" type="password">
                                        </label>
                                        <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">

                                            <button class="account__login--forgot"  type="submit"></button>
                                        </div>
                                        <button class="account__login--btn btn" type="submit">Авторизоваться</button>
                                        <div class="account__login--divide">
                                            <span class="account__login--divide__text">Или</span>
                                        </div>
                                        <div class="account__social d-flex justify-content-center mb-15">

                                            <a class="account__social--link google" target="_blank" href="https://www.google.com">Google</a>
                                            <a class="account__social--link twitter" target="_blank" href="https://vk.com/">VK</a>
                                        </div>
                                        <p class="account__login--signup__text">У вас нет учетной записи? <button type="submit">Войти сейчас</button></p>
                                    </div>
                                </div>
                            </div>
                        </form>

                            <form action="{%url 'login' %}" method="post">
                            <div class="col">

                                <div class="account__login register">
                                    <div class="account__login--header mb-25">
                                        <h2 class="account__login--header__title h3 mb-10">Создать аккаунт</h2>
                                        <p class="account__login--header__desc">Зарегистрируйтесь здесь, если вы новый клиент</p>
                                    </div>
                                    <div class="account__login--inner">
                                        <label>
                                            <input class="account__login--input" placeholder="Никнейм" name="username" type="text">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Адрес электронной почты" name="email" type="email">
                                        </label>
                                         <label>
                                            <input class="account__login--input" placeholder="Номер телефона " name="phone" type="text">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Пароль" name="password1" type="password">
                                        </label>
                                        <label>
                                            <input class="account__login--input" placeholder="Подтвердить пароль" name="password2" type="password">
                                        </label>
                                        <button class="account__login--btn btn mb-10" type="submit">Отправить и зарегистрироваться</button>

                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>





    </main>

    {%endblock%}