{% extends 'core/base.html' %}
{%load static%}
{%load reverse_text%}
{%block content %}
    <main class="main__content_wrapper">


        
        <!-- my account section start -->
        <section class="my__account--section section--padding">
            <div class="container">
                <p class="account__welcome--text">Здравствуйте, {{request.user.username}}, добро пожаловать на вашу панель управления!</p>
                <div class="my__account--section__inner border-radius-10 d-flex">
                    <div class="account__left--sidebar">
                        <h2 class="account__content--title h3 mb-20">Мой профиль</h2>
                        <ul class="account__menu">
                            <li class="account__menu--list active"><a href="#">Панель управления</a></li>
                            <li class="account__menu--list"><a href="{%url 'cart'%}">Корзина</a></li>
                            <li class="account__menu--list"><a href="{%url 'wishlist'%}">Избранное</a></li>
                            <li class="account__menu--list"><a href="{%url 'logout'%}">Выйти</a></li>
                        </ul>
                    </div>
                    <div class="account__wrapper">
                        <div class="account__content">
                            <h2 class="account__content--title h3 mb-20">История заказов</h2>
                            <div class="account__table--area">
                                <table class="account__table">
                                    <thead class="account__table--header">
                                        <tr class="account__table--header__child">
                                            <th class="account__table--header__child--items">Заказ</th>
                                            <th class="account__table--header__child--items">Дата заказа</th>
                                            <th class="account__table--header__child--items">Статус оплаты</th>
                                            <th class="account__table--header__child--items">Статус готовности</th>
                                            <th class="account__table--header__child--items">Стоимость</th>
                                        </tr>
                                    </thead>
                                    <tbody class="account__table--body mobile__none">
                                        {%for order in orders%}
                                        <tr class="account__table--body__child">
                                            <td class="account__table--body__child--items">#{{order.id}}</td>
                                            <td class="account__table--body__child--items">{{order.date|reverse_text}}</td>
                                            <td class="account__table--body__child--items">{{order.payment_status}}</td>
                                            <td class="account__table--body__child--items">{{order.fulfillment_status}}</td>
                                            <td class="account__table--body__child--items">&#8381 {{order.price}} RU</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    <tbody class="account__table--body mobile__block">
                                    {%for order in orders%}
                                        <tr class="account__table--body__child">
                                            <td class="account__table--body__child--items">
                                                <strong>Заказ</strong>
                                                <span>#{{order.id}}</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Дата заказа</strong>
                                                <span>{{order.date|reverse_text}}</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Статус оплаты</strong>
                                                <span>{{order.payment_status}}</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Статус готовности</strong>
                                                <span>{{order.fulfillment_status}}</span>
                                            </td>
                                            <td class="account__table--body__child--items">
                                                <strong>Стоимость</strong>
                                                <span>&#8381 {{order.price}} RU</span>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- my account section end -->



    </main>

    <!-- Start footer section -->
{%endblock%}