{% extends 'core/base.html' %}
{%load static%}

{%block content %}
    <!-- End header area -->

    <main class="main__content_wrapper">
        


        <!-- Start shop section -->
        <section class="shop__section section--padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="shop__sidebar--widget widget__area d-none d-lg-block">
                            <div class="single__widget widget__bg">
                                <h2 class="widget__title h3">Категории</h2>
                                <ul class="widget__categories--menu">
                                    {%for category in categories %}

                                    <li class="widget__categories--menu__list">

                                        <a class="widget__categories--menu__label d-flex align-items-center"  href="{%url 'product_category' category.slug %}" >
                                            <img class="widget__categories--menu__img" src="{{category.category_photo}}" alt="categories-img">
                                            <span class="widget__categories--menu__text">{{category.name}}</span>
                                        </a>

                                    </li>

                                    {%endfor %}

                                </ul>
                            </div>
                           <div class="single__widget widget__bg">
                                <h2 class="widget__title h3">Бренды</h2>
                                <ul class="widget__tagcloud">
                                   {%for manufacturer in manufacturers%}
                                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="{%url 'product_brand' manufacturer.slug %}">{{manufacturer.manufacturer_name}} </a></li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <div class="single__widget price__filter widget__bg">
                                <h2 class="widget__title h3">Цена</h2>
                                <form class="price__filter--form" action="#"> 
                                    <div class="price__filter--form__inner mb-15 d-flex align-items-center">
                                        <div class="price__filter--group">
                                            <label class="price__filter--label" for="Filter-Price-GTE2">От</label>
                                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                                <span class="price__filter--currency">&#8381</span>
                                                <input class="price__filter--input__field border-0" name="last_price_min" id="Filter-Price-GTE2" type="number" placeholder="0" min="0" max="90000">
                                            </div>
                                        </div>
                                        <div class="price__divider">
                                            <span>-</span>
                                        </div>
                                        <div class="price__filter--group">
                                            <label class="price__filter--label" for="Filter-Price-LTE2">До</label>
                                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                                <span class="price__filter--currency">&#8381</span>
                                                <input class="price__filter--input__field border-0" name="last_price_max" id="Filter-Price-LTE2" type="number" min="0" placeholder="90000" max="90000">
                                            </div>	
                                        </div>
                                    </div>
                                    <button class="btn price__filter--btn" type="submit">Filter</button>
                                </form>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="shop__product--wrapper">
                            <div class="tab_content">
                                <div id="product_grid" class="tab_pane active show">
                                    <div class="product__section--inner product__section--style3__inner">
                                        <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-2 mb--n30">
                                            {%for product in products %}
                                            <div class="col d-none d-xxl-block mb-30">
                                                <div class="product__items product__items2">
                                                    <div class="product__items--thumbnail">
                                                        <a class="product__items--link" href="{%url 'show_product' product.slug%}">
                                                            <img class="product__items--img product__primary--img" src="{{product.product_photos.0.img}}" alt="product-img">

                                                        </a>

                                                        <div class="product__badge">
                                                {%if product.discount > 0 %}
                                                <span class="product__badge--items sale">Скидка</span>
                                                {%endif%}
                                                        </div>
                                                        <ul class="product__items--action">
                                                            <li class="product__items--action__list">
                                                                <a class="product__items--action__btn" href="{%url 'add_wishlist' product.id%}">
                                                                    <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                                                                    <span class="visually-hidden">Wishlist</span>
                                                                </a>
                                                            </li>
                                                            <li class="product__items--action__list">
                                                                <a class="product__items--action__btn" data-open="modal1" href="{%url 'show_product' product.slug%}">
                                                                    <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
                                                                    <span class="visually-hidden">Quick View</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product__items--content product__items2--content text-center">
                                                        <a class="add__to--cart__btn" href="{%url 'add_product' product.id%}">+ Добавить в корзину</a>
                                                        <h3 class="product__items--content__title h4"><a href="{%url 'show_product' product.slug%}">{{product.product_name}}</a></h3>
                                                        <div class="product__items--price">
                                                            {%if product.discount > 0 %}
                                                            <span class="current__price">{{product.last_price}}&#8381</span>
                                                            <span class="old__price">{{product.first_price}}&#8381</span>
                                                            {%else%}
                                                            <span class="current__price">{{product.last_price}}&#8381</span>
                                                            {%endif%}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shop section -->

        
    </main>

{%endblock%}